@page "/categories"
@implements IAsyncDisposable

@* @attribute [Authorize] *@
@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>@_title</PageTitle>
<h2>@_title</h2>
<hr />

<p>
    <div class="input-group mb-3">
        <div class="form-floating">
            <input type="text" class="form-control" id="search" placeholder="" @bind="_filter" @bind:event="oninput">
            <label for="search">Search</label>
        </div>
        <span class="input-group-text bg-warning text-light px-3"><i class="bi bi-search"></i></span>
    </div>
</p>

@* https://aspnet.github.io/quickgridsamples/ *@
@* https://learn.microsoft.com/en-us/aspnet/core/blazor/components/quickgrid?view=aspnetcore-9.0&tabs=visual-studio *@

@* <QuickGrid Class="table table-striped table-hover" Items="_db.Categories" Pagination="_pagination"> *@
<QuickGrid Class="table table-striped table-hover" Items="_filteredItems" Pagination="_pagination">
    <PropertyColumn Property="x => x.Name" Sortable="true" />

    <TemplateColumn Context="item" Class="text-center zero_width">
        <HeaderTemplate><a class="btn btn-sm btn-primary mx-auto" href="category/create" title="Create"><i class="bi bi-plus-square"></i></a></HeaderTemplate>
        <ChildContent>
            <a class="btn btn-sm btn-warning" href="@($"category/update/{item.Id}")" title="Update"><i class="bi bi-pencil-square"></i></a>
            <a class="btn btn-sm btn-info" href="@($"category/{item.Id}")" title="Details"><i class="bi bi-info-square"></i></a>
            <button class="btn btn-sm btn-danger" @onclick="@(async() => await delete(item))" title="Delete"><i class="bi bi-trash"></i></button>
        </ChildContent>
    </TemplateColumn>
    <TemplateColumn Context="item" Class="text-center zero_width">
        <HeaderTemplate><button class="btn btn-sm btn-primary mx-auto" @onclick="@(async() => await _createUpdateModal.Show())" title="Create Modal"><i class="bi bi-plus-square"></i></button></HeaderTemplate>
        <ChildContent>
            <button class="btn btn-sm btn-primary" @onclick="@(async() => await _IndexModal.Show())" title="List Modal"><i class="bi bi-window"></i></button>
            <button class="btn btn-sm btn-warning" @onclick="@(async() => await _createUpdateModal.Show(item))" title="Update Modal"><i class="bi bi-pencil-square"></i></button>
            <button class="btn btn-sm btn-info" @onclick="@(async() => await _DetailsModal.Show(item))" title="Details Modal"><i class="bi bi-info-square"></i></button>
            <button class="btn btn-sm btn-danger" title="Delete Modal"><i class="bi bi-trash"></i></button>
        </ChildContent>
    </TemplateColumn>
</QuickGrid>
<Paginator State="_pagination" />

<SportsStore.Auto.Components.Pages.Admin.Categories.CRUD.Modal._Index @ref="_IndexModal" Items="@_filteredItems" />
<SportsStore.Auto.Components.Pages.Admin.Categories.CRUD.Modal._Details @ref="_DetailsModal" />
<SportsStore.Auto.Components.Pages.Admin.Categories.CRUD.Modal._CreateUpdate OnClose="createUpdateModalClosed" @ref="_createUpdateModal" />

@code {
    private ApplicationDbContext _db = default!;
    private string _title = "Categories";

    private string _filter = string.Empty;
    private IQueryable<Category> _filteredItems => _db.Categories.Where(m => m.Name!.Contains(_filter)).OrderByDescending(x=>x.Id);
    private PaginationState _pagination = new PaginationState { ItemsPerPage = 2 };

    private SportsStore.Auto.Components.Pages.Admin.Categories.CRUD.Modal._Index _IndexModal = default!;
    private SportsStore.Auto.Components.Pages.Admin.Categories.CRUD.Modal._Details _DetailsModal = default!;
    private SportsStore.Auto.Components.Pages.Admin.Categories.CRUD.Modal._CreateUpdate _createUpdateModal = default!;

    protected override async void OnInitialized()
    {
        _db = _dbFactory.CreateDbContext();
    }

    private async ValueTask delete(Category model)
    {
        if (await _js.InvokeAsync<bool>("confirm", Constants.DeleteText))
        {
            if (model is not null)
            {
                using var db = _dbFactory.CreateDbContext();
                db.Categories.Remove(model);
                await db.SaveChangesAsync();

                await _js.ToastrSuccess("Deleted successfully");
            }
        }
    }

    private async Task createUpdateModalClosed()
    {
    }

    public async ValueTask DisposeAsync() => await _db.DisposeAsync();
}
